<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet"/>
</head>
<body>
    <div> 
        <header>
            <h1>Fakelist</h1>
        </header>
        <nav>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">@Html.ActionLink("Home", "Index", "Home")</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">@Html.ActionLink("Free Coupons!", "Subscribe", "Member")</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">@Html.ActionLink("Add product", "Index", "Product")</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">@Html.ActionLink("See Products", "SeeProducts", "Product")</a>
                </li>
            </ul> 
        </nav>
        <div>
            @RenderBody()
        </div>
        <footer>
            &copy; @DateTime.Today.Year
        </footer>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
